@model IEnumerable<BusinessLayer.Employee>

@{
    ViewBag.Title = "Employees";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Employee", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Gender
        </th>
        <th>
            City
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>
